footer {
    background-color: #be839f; /* Fundal închis */
    text-align: center; /* Aliniere centrală */
    padding: 10px 0; /* Spațiere sus-jos */
    position: fixed; /* Fixează footer-ul în partea de jos */
    bottom: 0;
    width: 100%; /* Lățime completă */
    font-size: 0.9rem; /* Dimensiune text */
}

footer p {
    margin: 5px 0; /* Spațiere între paragrafe */
    color: #000000;
}